.modal-footer {
    align-items: center;
    justify-content: center !important
}

.dialogHideBtn {
    background-color: #f37521;
    color: white;
    border: none;
    width: 500px;
    border-radius: 10px;
}

.dialogContent {
    display: inline;
    margin-left: 15px;
}